@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url(/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.birthdayCardBackground {
  background-image: url(/Confetti.png), url(/BirthdayConfetti.png);
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
}
